PORT=5000
MONGO_URI="mongodb://<username>:<password>@<host>:<port>/?ssl=true&replicaSet=<replicaSet>&authSource=admin&appName=<appName>"
JWT_SECRET="<replace-with-strong-secret>"
JWT_EXPIRE=7d
GEMINI_API_KEY="<replace-with-gemini-api-key>"
NODE_ENV=development
